@model Hypnofrog.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<hr/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<head>
    <script>

        var button_beg = '<button id="button" class="btn btn-primary" onclick="showhide()">', button_end = '</button>';
    var show_button = 'Upload Image', hide_button = 'Cancel';
    function showhide() {
        var div = document.getElementById("content");
        var showhide = document.getElementById( "showhide" );
        if ( div.style.display !== "none" ) {
            div.style.display = "none";
            button = show_button;
            showhide.innerHTML = button_beg + button + button_end;
        } else {
            div.style.display = "block";
            button = hide_button;
            showhide.innerHTML = button_beg + button + button_end;
        }
    }
    function setup_button( status ) {
        if ( status == 'show' ) {
            button = hide_button;
        } else {
            button = show_button;
        }
        var showhide = document.getElementById( "showhide" );
        showhide.innerHTML = button_beg + button + button_end;
    }
    window.onload = function () {
        setup_button( 'hide' );
        showhide(); 
    }
    </script>
</head>



<p class="text-success"></p>
<div>


    <h4>Изменение настроек аккаунта</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Сменить аватар
        </dt>
        <dd>
            <div id="showhide"></div>
            <br />
            <div class="jumbotron" id="content" style="border:dotted; border-color:black; width:50%;">
                <form action="~/Home/SaveUploadedFile" method="post" enctype="multipart/form-data" class="dropzone" id="dropzoneForm" style="border:dotted;  background: none; border: none;">
                    <div class="fallback">
                        <input name="file" type="file" multiple />
                        <input type="submit" value="Upload" />
                    </div>
                </form>
            </div>
           
            
            </dd>
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        <dt>Additional auth</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink("Add", "ManageLogins") ]
        </dd>
   
        
    </dl>
</div>



<script type="text/javascript">
    Dropzone.options.dropzoneForm = {
        maxFiles: 1,
        init: function () {
            this.on("maxfilesexceeded", function (data) {
                var res = eval('(' + data.xhr.responseText + ')');
            });
            this.on("addedfile", function (file) {
                var removeButton = Dropzone.createElement("<button>Remove file</button>");
                var _this = this;
                removeButton.addEventListener("click", function (e) {
                    e.preventDefault();
                    e.stopPropagation();
                    _this.removeFile(file);
                });
                file.previewElement.appendChild(removeButton);
            });
        }
    };

    $(document).ready(function () {
        $('#showhide').live('click', function (event) {
            $('#content').toggle('show');
        });
    });
    


</script>
