@model Hypnofrog.ViewModels.PageViewModel
@{
    Session["PageId"] = Model.Page.PageId;
}
<link href="~/Content/@Model.Style-theme.css" rel="stylesheet" />

<div class="row" style="margin-top:10px;">
    <div class="col-md-2 col-sm-2 col-xs-2">
        @if (Model.IsAdmin)
        {
        <a href="@Url.Action("EditSite", "Home", new { siteid = Model.Page.SiteId }) " class="icons">
            <i class="fa fa-pencil-square-o"></i>
        </a>
        }
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
        <div class="fr-view">
            @Html.Raw(Model.Page.Title)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="fr-view">
            @Html.Raw(Model.Page.Contents.ElementAt(0).HtmlContent.ToString())
        </div>
    </div>
</div>

<script>
        $(document).ready(function () {
            $('table.highchart').highchartTable();
            $('table.highchart').remove();
        });
</script>

