@model Hypnofrog.DBModels.Page

@using (Ajax.BeginForm("SavePage", new { pageid = Model.PageId }, new AjaxOptions() { UpdateTargetId = "page-redactor", OnSuccess = "alert(\"Сохранение прошло успешно.\");" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            @Html.TextAreaFor(model => model.Contents.First().HtmlContent, new { @id = "edit1" })
        </div>
    </div>
    <div class="row">
        <input type="submit" class="btn btn-success col-md-8 col-md-offset-2" value="Сохранить" />
    </div>
}