
@{
    Layout = null;
}
<link href="~/Scripts/dropzone/dropzone.css" rel="stylesheet" />
<link href="~/Scripts/dropzone/basic.css" rel="stylesheet" />
<script src="~/Scripts/dropzone/dropzone.js"></script>




<div class="modal-body">
    <div class="confirm">
        <h3>Смена аватара</h3>

        <div class="jumbotron" id="content" style="border:dotted; border-color:black">
            <form action="~/Home/SaveUploadedFile" method="post" enctype="multipart/form-data" class="dropzone" id="dropzoneForm" style="border:dotted; background: none; border: none;">
                <div class="fallback">
                    <input name="file" type="file" multiple />
                    <input type="submit" value="Upload" />
                </div>
            </form>
        </div>
        </div>
</div>
<script type="text/javascript">
    $(function () {
        $('#approve-btn').click(function () {
            $('#modal-container').modal('hide');
        });
    });
</script>


<script type="text/javascript">

    Dropzone.options.mydropzone = {
        init: function () {
            if (document.getElementById('content').files.length > 0) {
                alert();
                $.each(files, function (index, item) {
                    this.emit('addedfile', 'uploading');
                });
            }
        }
    };

    Dropzone.options.dropzoneForm = {
        maxFiles: 1,
        init: function () {
            this.on("maxfilesexceeded", function (data) {
                var res = eval('(' + data.xhr.responseText + ')');
            });
            this.on("addedfile", function (file) {
                var removeButton = Dropzone.createElement("<button>Remove file</button>");
                var _this = this;
                removeButton.addEventListener("click", function (e) {
                    e.preventDefault();
                    e.stopPropagation();
                    _this.removeFile(file);
                });
                file.previewElement.appendChild(removeButton);
            });
        }
    };


</script>


 
