@model Hypnofrog.DBModels.Site
@{
    ViewBag.Preview = true;
    ViewBag.RedactorEnable = true;
    ViewBag.Title = Model.Title;
    ViewBag.SiteId = Model.SiteId;
    Layout = Model.MenuType == "without" ? "~/Views/Shared/_LayoutWM.cshtml" :
        Model.MenuType == "vertical" ? "~/Views/Shared/_LayoutVM.cshtml" : "~/Views/Shared/_Layout.cshtml";
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.css">

<div id="page-redactor" class="fr-view">
    @{Html.RenderPartial(String.Format("_PreviewPage{0}", Model.Pages.FirstOrDefault().TemplateType), Model.Pages.FirstOrDefault());}
</div>

@section scripts{
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/xml/xml.min.js"></script>
}
