@{
}
@Scripts.Render("~/bundles/bootstrap")


<h3>@ViewBag.Title</h3>
<br>
<br>
<p>On folowwing address was send confirmation email with instructions to complete registration.</p>

<a type="button" href="@Url.Action("Resend", "Home", new { callbackURL = ViewBag.CallBack, uid = ViewBag.uid, to = ViewBag.email })" class="btn btn-success">Send email again</a>