@{
}
@Scripts.Render("~/bundles/bootstrap")


<h3>@ViewBag.Title</h3>
<br>
<br>
<p>На данный вами адрес было выслано электронное письмо с дальнейшими инструкциями по завершению регистрации.</p>

<a type="button" href="@Url.Action("Resend", "Home", new { callbackURL = ViewBag.CallBack, uid = ViewBag.uid, to = ViewBag.email })" class="btn btn-success">Выслать email повторно</a>