

@{
    ViewBag.Title = "UserProfile";
}

 <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'>


<style>

    .profile_wrap {
        width: 90%;
        margin-left: 15px;
        height: auto;
        background: #f0f1eb;
        border-radius: 3px;
        text-align: left;
        font-family: Tahoma, Arial;
        font-size: 12px;
        margin-top: 15px;
        color: #606060;
    }


    .btn-success {
        margin-left: 15px;
        margin-top: 15px;
        width: 90%;
    }

    div {
        display: block;
    }

    table {
        display: table;
        border-collapse: separate;
        border-spacing: 2px;
        border-color: grey;
    }

    .b-user-profile__value {
        color: #606050;
        vertical-align: middle;
        line-height: 15px;
    }

    .b-user-profile__label {
        color: #a0a0a0;
        vertical-align: middle;
        line-height: 15px;
    }

    .profile_info_avatar {
        width: 92px;
        margin-bottom: 7px;
    }

    .otherinfo {
        margin-left: 10px;
    }


    .white-box {
        background: #fff;
        box-shadow: 0px 1px 2px 1px rgba(204, 204, 204, 0.6);
    }

    html {
        font-family: 'Source Sans Pro';
        background: whitesmoke;
    }

    .courses {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }

    .courses a{
        text-decoration:none;
        color:black;
    }

        .courses.cards .course {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            width: 330px;
        }

            .courses.cards .course .asset img {
                width: 100%;
            }

            .courses.cards .course .details {
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -webkit-flex-direction: column;
                -ms-flex-direction: column;
                flex-direction: column;
            }

                .courses.cards .course .details > *:not(:last-child) {
                    margin-bottom: 15px;
                }

                .courses.cards .course .details .actions {
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                }

                    .courses.cards .course .details .actions > * {
                        -webkit-box-align: middle;
                        -webkit-align-items: middle;
                        -ms-flex-align: middle;
                        align-items: middle;
                        text-align: center;
                    }

        .courses.list {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
        }

            .courses.list .course {
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                -webkit-flex-direction: row;
                -ms-flex-direction: row;
                flex-direction: row;
                height: 85px;
                width: 865px;
            }

                .courses.list .course .asset img {
                    width: 130px;
                    height: 100%;
                }

                .courses.list .course .details {
                    width: 100%;
                }

                    .courses.list .course .details > *:not(:last-child) {
                        margin-right: 15px;
                    }

        .courses.cards {
            margin-top: 15px;
        }

        .courses.list .course .details .actions {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
        }

            .courses.list .course .details .actions > * {
                -webkit-box-align: middle;
                -webkit-align-items: middle;
                -ms-flex-align: middle;
                align-items: middle;
                text-align: center;
            }

        .courses .course {
            margin-left: 15px;
            margin-bottom: 15px;
            background: #fff;
            box-shadow: 0px 1px 2px 1px rgba(204, 204, 204, 0.6);
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
        }

            .courses .course .details {
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: justify;
                -webkit-justify-content: space-between;
                -ms-flex-pack: justify;
                justify-content: space-between;
                padding: 20px;
            }

                .courses .course .details > div span {
                    display: block;
                }

                    .courses .course .details > div span:first-child {
                        color: #4a4f51;
                        text-transform: uppercase;
                        font-size: 12px;
                        margin-bottom: 5px;
                    }

                    .courses .course .details > div span:last-child {
                        font-weight: 600;
                    }

                .courses .course .details .actions {
                    -webkit-justify-content: space-around;
                    -ms-flex-pack: distribute;
                    justify-content: space-around;
                }
</style>




<div class="profile_wrap b-user-profile">
    <table>
        <tr>
            <td>
                <div>



                    <img class="profile_info_avatar" src=@ViewBag.avatarpath>




                </div>
            </td>
            <td>
                <div class="otherinfo">
                    <span> @User.Identity.Name</span>
                    <br>
                    <span class="b-user-profile__label">Рейтинг</span>
                    <span class="b-user-profile__value">-59</span>
                    <br>
                    <span class="b-user-profile__label">Комментариев</span>
                    <span class="b-user-profile__value">2</span>
                    <br>
                    <span class="b-user-profile__label">Добавил сайтов</span>
                    <span class="b-user-profile__value">4</span>
                </div>
            </td>
            <td>
                <div>
                    <a href="@Url.Action("Index", "Manage")" type="button" class="btn btn-info">Edit</a>
                </div>
            </td>
        </tr>
    </table>



</div>


<a type="button" href="@Url.Action("Creating", "Home")" class="btn btn-success modal-link">Добавить сайт</a>




<div class='courses cards'>
    <div class='course'>
        <div class='asset'>
            <img src='//s3-us-west-2.amazonaws.com/s.cdpn.io/14179/image.png'>
        </div>
        <div class='details'>
            <div class='title'>
                <span>Название</span>
                <span>WHIMIS Online Training Course</span>
            </div>
            <div class='description'>
                <span>Описание</span>
                <span>Danatec Safety Training Inc.</span>
            </div>
            <div class='language'>
                <span>Готовность</span>
                <span>В разработке</span>
            </div>
            <span class='actions'>
                <a>
                    <i class='fa fa-eye'></i>
                </a>
                <a>
                    <i class='fa fa-pencil'></i>
                </a>
                <a>
                    <i class='fa fa-trash'></i>
                </a>
            </span>
        </div>
    </div>
    <div class='course'>
        <div class='asset'>
            <img src='//s3-us-west-2.amazonaws.com/s.cdpn.io/14179/image.png'>
        </div>
        <div class='details'>
            <div class='title'>
                <span>Название</span>
                <span>WHIMIS Online Training Course</span>
            </div>
            <div class='description'>
                <span>Описание</span>
                <span>Danatec Safety Training Inc.</span>
            </div>
            <div class='language'>
                <span>Готовность</span>
                <span>В разработке</span>
            </div>
            <span class='actions'>
                <a>
                    <i class='fa fa-eye'></i>
                </a>
                <a>
                    <i class='fa fa-pencil'></i>
                </a>
                <a>
                    <i class='fa fa-trash'></i>
                </a>
            </span>
        </div>
    </div>
    <div class='course'>
        <div class='asset'>
            <img src='//s3-us-west-2.amazonaws.com/s.cdpn.io/14179/image.png'>
        </div>
        <div class='details'>
            <div class='title'>
                <span>Название</span>
                <span>WHIMIS Online Training Course</span>
            </div>
            <div class='description'>
                <span>Описание</span>
                <span>Danatec Safety Training Inc.</span>
            </div>
            <div class='language'>
                <span>Готовность</span>
                <span>В разработке</span>
            </div>
            <span class='actions'>
                <a>
                    <i class='fa fa-eye'></i>
                </a>
                <a>
                    <i class='fa fa-pencil'></i>
                </a>
                <a>
                    <i class='fa fa-trash'></i>
                </a>
            </span>
        </div>
    </div>

</div>

<div class='courses cards'>
    <div class='course'>
        <div class='asset'>
            <img src='//s3-us-west-2.amazonaws.com/s.cdpn.io/14179/image.png'>
        </div>
        <div class='details'>
            <div class='title'>
                <span>Название</span>
                <span>WHIMIS Online Training Course</span>
            </div>
            <div class='description'>
                <span>Описание</span>
                <span>Danatec Safety Training Inc.</span>
            </div>
            <div class='language'>
                <span>Готовность</span>
                <span>В разработке</span>
            </div>
            <span class='actions'>
                <a>
                    <i class='fa fa-eye'></i>
                </a>
                <a>
                    <i class='fa fa-pencil'></i>
                </a>
                <a>
                    <i class='fa fa-trash'></i>
                </a>
            </span>
        </div>
    </div>
    <div class='course'>
        <div class='asset'>
            <img src='//s3-us-west-2.amazonaws.com/s.cdpn.io/14179/image.png'>
        </div>
        <div class='details'>
            <div class='title'>
                <span>Название</span>
                <span>WHIMIS Online Training Course</span>
            </div>
            <div class='description'>
                <span>Описание</span>
                <span>Danatec Safety Training Inc.</span>
            </div>
            <div class='language'>
                <span>Готовность</span>
                <span>В разработке</span>
            </div>
            <span class='actions'>
                <a>
                    <i class='fa fa-eye'></i>
                </a>
                <a>
                    <i class='fa fa-pencil'></i>
                </a>
                <a>
                    <i class='fa fa-trash'></i>
                </a>
            </span>
        </div>
    </div>
    <div class='course'>
        <div class='asset'>
            <img src='//s3-us-west-2.amazonaws.com/s.cdpn.io/14179/image.png'>
        </div>
        <div class='details'>
            <div class='title'>
                <span>Название</span>
                <span>WHIMIS Online Training Course</span>
            </div>
            <div class='description'>
                <span>Описание</span>
                <span>Danatec Safety Training Inc.</span>
            </div>
            <div class='language'>
                <span>Готовность</span>
                <span>В разработке</span>
            </div>
            <span class='actions'>
                <a>
                    <i class='fa fa-eye'></i>
                </a>
                <a>
                    <i class='fa fa-pencil'></i>
                </a>
                <a>
                    <i class='fa fa-trash'></i>
                </a>
            </span>
        </div>
    </div>

</div>


<script src='http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.2/angular.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
