@model Hypnofrog.Models.HTMLContextClass
@{
    ViewBag.Title = "Wysiwyg";
}
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.css">
<h2>Wysiwyg check.</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div style="width:auto;" class="fr-view">
        @Html.TextAreaFor(model => model.Context, new { @id = "edit" })
        <div class="row">
            <input type="submit" value="Create" class="btn btn-success col-md-2 col-md-offset-1 col-sm-2 col-sm-offset-1 col-xs-2 col-xs-offset-1" />
            <a id="get-text" class="btn btn-danger col-md-2 col-md-offset-6 col-sm-2 col-sm-offset-6 col-xs-2 col-xs-offset-6">Clear</a>
        </div>
    </div>
}

@section scripts{
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/xml/xml.min.js"></script>

    <script>
        $(function () {
            $('#edit').on('froalaEditor.initialized', function (e, editor) {
                editor.events.bindClick($('body'), 'a#get-text', function () {
                    editor.html.set('');
                    editor.events.focus();
                });
            }).froalaEditor({
                dragInline: false,
                toolbarButtons: ['fullscreen', 'bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', 'fontFamily', 'fontSize',  'color', 'emoticons', 'inlineStyle', 'paragraphStyle', 'paragraphFormat', 'align', 'formatOL', 'formatUL', 'outdent', 'indent','-', 'insertLink', 'insertImage', 'insertVideo', 'insertFile', 'insertTable', 'quote', 'insertHR','|', 'undo', 'redo','|', 'clearFormatting', 'selectAll', 'html'],
                pluginsEnabled: null,
                theme: "gray"
            })
        });
    </script>
}