.users-container * {
 	margin: 0;
 	padding: 0;
 	-webkit-box-sizing: border-box;
 	-moz-box-sizing: border-box;
 	box-sizing: border-box;
 }

 .users-container a {
 	color: #03658c;
 	text-decoration: none;
 }

.users-container ul {
	list-style-type: none;
}

.users-container {
  font-family: 'Roboto', Arial, Helvetica, Sans-serif, Verdana;
	margin: 0 auto 15px;
	width: 800px;
}

    .users-container h1 {
        font-size: 36px;
        color: #283035;
        font-weight: 400;
    }

        .users-container h1 a {
            font-size: 18px;
            font-weight: 700;
        }

.users-list {
    position: relative;
}


    

.reply-list:before, .reply-list:after {
    display: none;
}

.reply-list li:before {
    content: '';
    width: 60px;
    height: 2px;
    background: #c7cacb;
    position: absolute;
    top: 25px;
    left: -55px;
}


.users-list li {
    margin-bottom: 15px;
    display: block;
    position: relative;
}

    .users-list li:after {
        content: '';
        display: block;
        clear: both;
        height: 0;
        width: 0;
    }

.reply-list {
    padding-left: 88px;
    clear: both;
    margin-top: 15px;
}

.users-list .user-avatar {
    width: 90px;
    height: 90px;
    position: relative;
    z-index: 99;
    float: left;
    border: 3px solid #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    overflow: hidden;
}

    .users-list .user-avatar img {
        width: 100%;
        height: 100%;
    }

.reply-list .user-avatar {
    width: 50px;
    height: 50px;
}

.user-main-level:after {
    content: '';
    width: 0;
    height: 0;
    display: block;
    clear: both;
}

.users-list .user-box {
    width: 680px;
    float: right;
    position: relative;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(0,0,0,0.15);
}

    .users-list .user-box:before, .users-list .user-box:after {
        content: '';
        height: 0;
        width: 0;
        position: absolute;
        display: block;
        border-width: 10px 12px 10px 0;
        border-color: transparent #FCFCFC;
        top: 8px;
        left: -11px;
    }

    .users-list .user-box:before {
        border-width: 11px 13px 11px 0;
        border-color: transparent rgba(0,0,0,0.05);
        left: -12px;
    }

.reply-list .user-box {
    width: 610px;
}

.user-box .user-head {
    background: #FCFCFC;
    padding: 10px 12px;
    border-bottom: 1px solid #E5E5E5;
    overflow: hidden;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

    .user-box .user-head i {
        float: right;
        margin-left: 14px;
        position: relative;
        top: 2px;
        color: #A6A6A6;
        cursor: pointer;
        -webkit-transition: color 0.3s ease;
        -o-transition: color 0.3s ease;
        transition: color 0.3s ease;
    }

        .user-box .user-head i:hover {
            color: #03658c;
        }

.user-box .user-name {
    color: #283035;
    font-size: 14px;
    font-weight: 700;
    float: left;
    margin-right: 10px;
}

    .user-box .user-name a {
        color: #283035;
    }

.user-box .user-head span {
    float: left;
    color: #999;
    font-size: 13px;
    position: relative;
    top: 1px;
}

.user-box .user-content {
    background: #FFF;
    padding: 12px;
    font-size: 15px;
    color: #595959;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.user-content .fr-box {
    border: solid 1px transparent;
    margin: 0px;
}

.user-content .fr-element {
    background-color: transparent;
}

.user-content .row .icons{
    margin:5px;
    text-decoration:none;
    font-size: 3em;
}

.icons{
    cursor: pointer;
}

.user-box .user-content textarea{
    width: 100%;
    resize: none;
    border: 0px;
}

.user-box .user-content textarea:focus{
    outline:none;
}

.user-box .user-name.by-author, .user-box .user-name.by-author a {
    color: #03658c;
}

    .user-box .user-name.by-author:after {
        content: 'autor';
        background: #03658c;
        color: #FFF;
        font-size: 12px;
        padding: 3px 5px;
        font-weight: 700;
        margin-left: 10px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }


@media only screen and (max-width: 766px) {
    .users-container {
        width: 480px;
    }

    .users-list .user-box {
        width: 390px;
    }

    .reply-list .user-box {
        width: 320px;
    }
}